<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiYXJ2aWRlb2tpdCIsImxvY2F0aW9uIjp7InJlbW90ZSI6W3sidXJsU3Ry
		aW5nIjoiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL0FGYXRoaVwvQVJWaWRlb0tp
		dC5naXQifV19LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6
		eyJleGFjdCI6WyIxLjYuMCJdfX1dfV0sImRpc3BsYXlOYW1lIjoiQVJNb3Rp
		b25DYW0iLCJwYWNrYWdlS2luZCI6eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6
		W3sib3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6ImlvcyIsInZlcnNpb24i
		OiIxNi4wIn1dLCJwcm9kdWN0cyI6W3sibmFtZSI6IkFSTW90aW9uQ2FtIiwi
		c2V0dGluZ3MiOlt7ImJ1bmRsZUlkZW50aWZpZXIiOlsiY29tLkxpYTMxNi5B
		Uk1vdGlvbkNhbSJdfSx7InRlYW1JZGVudGlmaWVyIjpbIlQ3OUZNUDZRMkwi
		XX0seyJkaXNwbGF5VmVyc2lvbiI6WyIxLjAiXX0seyJidW5kbGVWZXJzaW9u
		IjpbIjEiXX0seyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJwcmVz
		ZXRDb2xvciI6eyJwcmVzZXRDb2xvciI6eyJyYXdWYWx1ZSI6InRlYWwifX19
		LCJhcHBDYXRlZ29yeSI6eyJyYXdWYWx1ZSI6InB1YmxpYy5hcHAtY2F0ZWdv
		cnkucGhvdG9ncmFwaHkifSwiYXBwSWNvbiI6eyJwbGFjZWhvbGRlciI6eyJp
		Y29uIjp7InJhd1ZhbHVlIjoiY2FtZXJhIn19fSwiY2FwYWJpbGl0aWVzIjpb
		eyJmaWxlQWNjZXNzTG9jYXRpb24iOiJ1c2VyU2VsZWN0ZWRGaWxlcyIsImZp
		bGVBY2Nlc3NNb2RlIjoicmVhZE9ubHkiLCJwdXJwb3NlIjoiZmlsZUFjY2Vz
		cyJ9LHsicHVycG9zZSI6ImNhbWVyYSIsInB1cnBvc2VTdHJpbmciOiJUaGlz
		IGFwcCB1c2VzIHRoZSBjYW1lcmEgdG8gb3ZlcmxheSB2aXJ0dWFsIG9iamVj
		dHMgaW4gdGhlIHJlYWwgd29ybGQuIn0seyJwdXJwb3NlIjoicGhvdG9MaWJy
		YXJ5IiwicHVycG9zZVN0cmluZyI6IlRoaXMgYXBwIHVzZXMgdGhlIHBob3Rv
		IGxpYnJhcnkgdG8gYWNjZXNzIEFSdmlkZW8uIn0seyJwdXJwb3NlIjoicGhv
		dG9MaWJyYXJ5QWRkIiwicHVycG9zZVN0cmluZyI6IlRoaXMgYXBwIHVzZXMg
		dGhlIHBob3RvIGxpYnJhcnkgdG8gYWRkIEFSdmlkZW8uIn1dLCJzdXBwb3J0
		ZWREZXZpY2VGYW1pbGllcyI6WyJwYWQiXSwic3VwcG9ydGVkSW50ZXJmYWNl
		T3JpZW50YXRpb25zIjpbeyJsYW5kc2NhcGVSaWdodCI6e319LHsibGFuZHNj
		YXBlTGVmdCI6e319XX1dfV0sInRhcmdldHMiOlsiQXBwTW9kdWxlIl0sInR5
		cGUiOnsiZXhlY3V0YWJsZSI6bnVsbH19XSwidGFyZ2V0TWFwIjp7IkFwcE1v
		ZHVsZSI6eyJkZXBlbmRlbmNpZXMiOlt7InByb2R1Y3QiOlsiQVJWaWRlb0tp
		dCIsIkFSVmlkZW9LaXQiLG51bGwsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5h
		bWUiOiJBcHBNb2R1bGUiLCJwYWNrYWdlQWNjZXNzIjp0cnVlLCJwYXRoIjoi
		LiIsInJlc291cmNlcyI6W3sicGF0aCI6IlJlc291cmNlcyIsInJ1bGUiOnsi
		cHJvY2VzcyI6e319fV0sInNldHRpbmdzIjpbeyJraW5kIjp7ImVuYWJsZVVw
		Y29taW5nRmVhdHVyZSI6eyJfMCI6IkJhcmVTbGFzaFJlZ2V4TGl0ZXJhbHMi
		fX0sInRvb2wiOiJzd2lmdCJ9XSwidHlwZSI6ImV4ZWN1dGFibGUifX0sInRh
		cmdldHMiOlt7ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJBUlZpZGVv
		S2l0IiwiQVJWaWRlb0tpdCIsbnVsbCxudWxsXX1dLCJleGNsdWRlIjpbXSwi
		bmFtZSI6IkFwcE1vZHVsZSIsInBhY2thZ2VBY2Nlc3MiOnRydWUsInBhdGgi
		OiIuIiwicmVzb3VyY2VzIjpbeyJwYXRoIjoiUmVzb3VyY2VzIiwicnVsZSI6
		eyJwcm9jZXNzIjp7fX19XSwic2V0dGluZ3MiOlt7ImtpbmQiOnsiZW5hYmxl
		VXBjb21pbmdGZWF0dXJlIjp7Il8wIjoiQmFyZVNsYXNoUmVnZXhMaXRlcmFs
		cyJ9fSwidG9vbCI6InN3aWZ0In1dLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9XSwi
		dG9vbHNWZXJzaW9uIjp7Il92ZXJzaW9uIjoiNS45LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		lwPlJMWhO7yzXCJcqb1/R5jqi4fv0N65gwzJxOOfyUo=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.10.0-dev</string>
	</dict>
</dict>
</plist>
